.about-the-author {
    text-align: center;
}

.about {
    margin: 0;
}

.avatar {
    border-radius: 50%;
    display: inline;
}

.ab-by {
    margin: 0;
}

.ab-name{
    margin: 0;
}

.ab-intro{
    margin: 0;
}

.ab-quote{
    margin: 0;
}