@import url("stylesheet.css");
@import url("footerstyle.css");
@import url("cardstyle.css");
@import url("abouttheauthorstyle.css");

body {
  display: grid;
  grid-template-rows: repeat(6, auto);
  row-gap: 5px;
  grid-template-areas: 
    "header"
    "breadcrumb"
    "article"
    "author"
    "read-more"
    "footer";
  margin: 0;
  border: 0;
  padding: 0;
}

/* Start Header */

.header {
  grid-area: header;
  text-align: right;
  border-bottom: .5px solid rgb(45,45,45);
  border-bottom: .5px solid rgba(45,45,45, .2);
  box-shadow: 0 5px 5px #2d2d2d;
  box-shadow: 0 5px 5px rgba(45,45,45, .2);

}

.header-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: right;
  padding-right: 8px;
  margin: 8px;
}

/* End Header */
/* Start Breadcrumb Nav */

.breadcrumb {
  grid-area: breadcrumb;
  margin-top: 10px;
}

.crumbs { 
  white-space: nowrap; 
  color: #2d2d2d;
  font-size: 10px;
}

.crumbs a {
  display: inline-block;
  padding: 0 20px;
  position: relative;
  color: #2d2d2d;
  height: 30px;
}
.crumbs a::before,
.crumbs a::after {
    border-right: 1px solid #666666;
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    transform: skewX(45deg);   
}

.crumbs a::after {
    bottom: 0;
    top: auto;
    transform: skewX(-45deg);
}

.crumbs a:last-of-type::before, 
.crumbs a:last-of-type::after { 
    display: none; 
}

.b-home {
  margin: 6px 0;
}

.b-posts {
  margin: 6px 0;
}

.b-sample-blog-post {
  margin: 6px 0;
}

/* End Breadcrumb Nav */
/* Start Article */

.article {
  grid-area: article;
  place-self: center;
}

.tl {
  text-align: right;
  padding-right: 16px;
}

.article-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 27pt;
  margin-bottom: 0;
}

.article-info {
  font-size: 10pt;
  margin-top: 0;
  font-weight: 100;
}

.social {
  text-align: right;
}

.social-link{
  color: #2d2d2d;
}

.follow-button-top {
  background: white;
  color: #20730D;
  border: 2px solid #2d2d2d;
}

.follow-button-top:hover {
  color: white;
  border: 2px solid #20730D;
  background: #20730D;
}

.lead {
  font-family: 'Open Sans', sans-serif;
  width: 600px;
  margin: 0 auto 15px auto;
  text-align: center;
}

.feature-image {
  width: 100%;
  max-width: 1236px;
  height: auto;
}

.caption {
  font-weight: 100;
  font-size: 8px;
  text-align: center;
  font-style: italic;
  padding-bottom: 30px;
}

.main-article {
  width: 600px;
  margin: 0 auto 0 auto;
  font-size: 18px;
}

q {
  display: block;
  font-weight: 700;
  text-align: center;
  margin: 18px;
}

/* End Article */
/* Mobile Friendly */
@media screen and (max-width: 600px) {
  .article-info {
    font-size: 8pt;
  }

  .crumbs {
    font-size: 16px;
  }

  .main-article {
    text-align: center;
  }
}