@import url("stylesheet.css");
@import url("footerstyle.css");
@import url("cardstyle.css");

body {
    display: grid;
    margin: 0;
    grid-template-rows: 500px auto auto;
    row-gap: 15px;
    grid-template-areas: 
      "header"
      "main"
      "footer";
}

.header-wrapper {
    grid-area: header;
    display: grid;
    grid-template-rows:  20px 420px 60px ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      ". . ."
      ". . header-text"
      "nav nav nav";
    background-image: url(../photos/000504070005.jpg); /*Museum of Contemporary Art, Miami*/
    height: 500px;
    background-position: left; 
    background-repeat: no-repeat;
    background-size: cover;
}

#cover {
    grid-area: header-text;
} 

#header-text {
    font-family: 'Open Sans', sans-serif;
    padding: 1em;
    text-align: right;
    background: none;
    color: white;
    margin: 0;
}   

.nv {
    grid-area: nav;
    justify-content: center;
    background: none;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-areas: "home posts about"; 
}

.home {
    grid-area: home;
    text-align: right;
    color: white;
}

.posts {
    grid-area: posts;
    color: white;
    text-align: center;
}

.about {
    grid-area: about;
    color: white;
}

.h-link {
    color: white;
}

.main {
    grid-area: main;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .header-wrapper {
        grid-template-rows: 320px 180px ;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "cover"
        "nav";
        background: none;
        height: 500px;
    }

    #cover {
        width: 100%;
        grid-area: cover;
        background-image: url(../photos/000504070005.jpg); /*Museum of Contemporary Art, Miami*/
        background-position: left; 
        background-repeat: no-repeat;
        background-size: cover;
    }

    .nv {
        display: flex;
        flex-direction: column;
    }

    .home {
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        background-color: white;
        color: #2d2d2d;
        border-bottom: 1px solid #2d2d2d;;
    }

    .posts {
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        color: #2d2d2d;
        border-bottom: 1px solid #2d2d2d;
    }

    .about {
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        color: #2d2d2d;
        border-bottom: 1px solid #2d2d2d;;
    }

    .h-link {
        color: #2d2d2d;
    }

}