body {
    display: grid;
    margin: 0;
    grid-template-rows: 500px auto auto;
    row-gap: 15px;
    grid-template-areas: 
      "header"
      "main"
      "footer";
}
a {
    text-decoration: none;
    color: white;
}

.header-wrapper {
    grid-area: header;
    display: grid;
    grid-template-rows:  20px 420px 60px ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      ". . ."
      ". . header-text"
      "nav nav nav";
    background-image: url(photos/000504070005.jpg); /*Museum of Contemporary Art, Miami*/
    height: 500px;
    background-position: left; 
    background-repeat: no-repeat;
    background-size: cover;
}

#cover {
    grid-area: header-text;
    } 

#header-text {
    padding: 1em;
    text-align: right;
    background: black;
    background: rgba(255, 245, 238, 0);
    color: white;
    margin: 0;
 }   

.nv {
    grid-area: nav;
    justify-content: center;
    background: #2d2d2d;
    background: rgba(255, 245, 238, 0);
        display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-areas: "home posts about"; 
}

.home {
    grid-area: home;
    text-align: right;
    color: white;
}

.posts {
    grid-area: posts;
    color: white;
    text-align: center;
}

.about {
    grid-area: about;
    color: white;
}

.main {
    grid-area: main;
    justify-content: space-between;
    align-items: center;
}


