body {
    display: grid;
    background-color: seashell;
    grid-gap: 10px 10px;
    place-self: center;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "fltl"
    "hd"
    "nav"
    "main"
    "ft"
}

#tl{
    background-image: url(photos/000504070005.jpg); /*Museum of Contemporary Art, Miami*/
    height: 550px;
    background-position: right; 
    background-repeat: no-repeat;
    background-size: cover;
    } 

#tldr {
    padding: 1em;
    text-align: right;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 10%;
    background: black;
    background: rgba(255, 245, 238, 0);
    color: white;
 }   

.hd {
    grid-area: hd;
    vertical-align: middle;
}

.nv {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    background: black;
    background: rgba(255, 245, 238, 0);
    border-color: white;
}

@media only screen and (max-width: 600px) 
a {
    float: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: black;
    background: rgba(255, 245, 238, 0);
}

.a-link {
    display: block;
    color: white;
    background: black;
    background: rgba(255, 245, 238, 0);
    text-align: center;
}

}

/*@media only screen and (max-width: 600px) {
    .a-link {
      background: seashell;
      border: white;

    }
Maybe use this media query to have the flexbox go verticle and be not have the background image behind it...*/


.main {
    grid-area: main;
    justify-content: center;
}

.ft {
    grid-area: ft;
    background-color: #2d2d2d;
}

.b1 {
    background-color: #2d2d2d
}

.b2 {
    background-color: #2d2d2d
}

.b3 {
    background-color: #2d2d2d;
    color: seashell;
}
/* @media:(max display 900px)
body {
    display: grid;
    grid-gap: 10px 10px;
    place-self: center;
    grid-auto-flow: row;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "main main main main main main main main main main main main"
    "main main main main main main main main main main main main"
    "main main main main main main main main main main main main"
    "main main main main main main main main main main main main"
    "ft ft ft ft ft ft ft ft ft ft ft ft"
    "ft ft ft ft ft ft ft ft ft ft ft ft"
    "ft ft ft ft ft ft ft ft ft ft ft ft"
} */
